# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Virtual Environment
.env
.venv
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Node
node_modules
npm-debug.log

# Keep all model files and data
!src/quran_model/*.pkl
!src/quran_model/embedding_korpus_*.pkl
!src/quran_model/quran_terjemahan_sabiq.jsonl 